$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

@mixin sm {
  @media screen and (min-width: $screen-sm) {
    .container {
      max-width: 540px;
    }
    @content;
  }
}

@mixin md {
  @media screen and (min-width: $screen-md) {
    .container {
      max-width: 720px;
    }
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $screen-lg) {
    .container {
      max-width: 960px;
    }
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: $screen-xl) {
    .container {
      max-width: 1140px;
    }
    @content;
  }
}