@font-face {
  font-family: "GothamPro-Black";
  src: url("../fonts/GothamPro-Black.eot");
  src: url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamPro-Black.woff2") format("woff2"),
    url("../fonts/GothamPro-Black.woff") format("woff"),
    url("../fonts/GothamPro-Black.ttf") format("truetype"),
    url("../fonts/GothamPro-Black.svg#GothamPro-Black") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Manrope-Light";
  src: url("../fonts/Manrope-Light.eot");
  src: url("../fonts/Manrope-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Manrope-Light.woff2") format("woff2"),
    url("../fonts/Manrope-Light.woff") format("woff"),
    url("../fonts/Manrope-Light.ttf") format("truetype"),
    url("../fonts/Manrope-Light.svg#Manrope-Light") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Philosopher-Bold";
  src: url("../fonts/Philosopher-Bold.eot");
  src: url("../fonts/Philosopher-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Philosopher-Bold.woff2") format("woff2"),
    url("../fonts/Philosopher-Bold.woff") format("woff"),
    url("../fonts/Philosopher-Bold.ttf") format("truetype"),
    url("../fonts/Philosopher-Bold.svg#Philosopher-Bold") format("svg");
  font-style: normal;
  font-weight: normal;
}
