@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu {
  background-color: #222129;
  width: 100%;
}

.menu__container {
  background: url(../img/bg.png) no-repeat center/cover;
}

.menu__logo {
  display: flex;
  padding: 20px;
  align-items: center;
  & p {
    font-family: "GothamPro-Black";
    color: white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    margin-left: 10px;
  }
  @include lg {
    padding: 50px;
  }
}

.menu__btn {
  position: absolute;
  right: 20px;
  top: 32px;
  height: 35px;
  width: 35px;
  background-color: inherit;
  z-index: 9;
  & span {
    padding: 0;
    height: 2px;
    background-color: white;
    display: block;
    border-radius: 4px;
    transition: all 0.3s ease-in;
    position: absolute;
    &:nth-child(1) {
      top: 0;
      width: 35px;
      right: 0;
    }
    &:nth-child(2) {
      top: 10px;
      width: 24px;
      right: 0;
    }
    &:last-child {
      top: 20px;
      width: 15px;
      right: 0;
    }
  }
  @include lg {
    right: 50px;
    top: 62px;
  }
}

.menu__btn.active {
  & span {
    background-color: white;
    &:nth-child(1) {
      transform: rotate(45deg);
      width: 35px;
      top: 10px;
    }
    &:nth-child(2) {
      opacity: 0;
      width: 35px;
      background-color: transparent;
    }
    &:nth-child(3) {
      top: 10px;
      transform: rotate(-45deg);
      width: 35px;
    }
  }
}

.menu__items {
  transition: all 0.4s ease-in;
  margin-top: -470px;
  &.active {
    transition: all 0.4s ease-in;
    margin-top: 0px;
    padding-bottom: 50px;
  }
  @include md {
    margin-top: -230px;
    &.active {
      margin-top: 50px;
      padding-bottom: 120px;
    }
  }
  @include lg {
    margin-top: -190px;
    &.active {
      padding-bottom: 220px;
    }
  }
  @include xl {
    &.active {
      margin-top: 60px;
      padding-bottom: 280px;
    }
  }
}
.menu__items ul {
  display: flex;
  flex-direction: column;
  & li {
    margin-top: 20px;
    opacity: 0;
  }
  & li a {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    line-height: 30px;
    color: white;
    font-family: "Philosopher-Bold";
    text-align: center;
    & span {
      font-size: 14px;
      font-family: "Manrope-Light";
      line-height: 28px;
      letter-spacing: 0.1em;
      color: #d1d1d1;
    }
  }
  @include md {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    & li {
      margin-left: 20px;
      width: 264px;
    }
    & li a {
      text-align: left;
    }
  }
  @include lg {
    max-width: 900px;
    & li:nth-child(3) {
      margin-left: 70px;
      width: 226px;
    }
    & li:nth-child(6) {
      margin-left: 70px;
      width: 226px;
    }
    & li a {
      font-size: 45px;
      & span {
        margin-top: 15px;
      }
    }
  }
  @include xl {
    max-width: 970px;
    justify-content: space-between;
    & li {
      width: 290px;
      margin-left: 0px;
    }
    & li:nth-child(3) {
      margin-left: 0px;
      width: 290px;
    }
    & li:nth-child(6) {
      margin-left: 0px;
      width: 290px;
    }
  }
}

.menu__items {
  &.active {
    & ul li {
      opacity: 0;
      animation-duration: 2s;
      animation-name: appearance;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 0.1s;
      }
      &:nth-child(3) {
        animation-delay: 0.2s;
      }
      &:nth-child(4) {
        animation-delay: 0.3s;
      }
      &:nth-child(5) {
        animation-delay: 0.4s;
      }
      &:nth-child(6) {
        animation-delay: 0.5s;
      }
    }
    @include lg {
      & ul li {
        margin-top: 100px;
        &:nth-child(1) {
          animation-delay: 0.3s;
        }
        &:nth-child(2) {
          animation-delay: 0.3s;
        }
        &:nth-child(3) {
          animation-delay: 0.3s;
        }
        &:nth-child(4) {
          animation-delay: 0.6s;
        }
        &:nth-child(5) {
          animation-delay: 0.6s;
        }
        &:nth-child(6) {
          animation-delay: 0.6s;
        }
      }
    }
    @include lg {
      & ul li {
        margin-top: 130px;
      }
    }
  }
}
